h1{
  text-align: center;
  padding: 50px;
  border-style: solid;
  border-width: 3px;
}

#side aside{
  display: inline-block;
  border-style: solid;
  border-width: 3px;
}

#side section{
  display: inline-block;
}
